@charset "UTF-8";

textarea {
	resize: none;
}

.hide {
	display: none;
}

h3 {
	display: inline;
}

.width0 {
	width: 0;
}

.centerButton {
	margin: auto;
	display: block;
	margin-top: 20%;
	max-width: 250px;
	padding: 30px;
}

.inline {
	display: inline;
}