<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="bootstrap-3.3.7/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title>Konferencija</title>
</head>

<body>
    <div class="container">
        <header>
            <img th:src="@{/images/logo1.png}" alt="Logo">
        </header>
        <div class="center-block text-center">
            <a class="btn btn-primary centerButton" th:href="@{/predavanja/novo}">Predloži novo predavanje</a>
        </div>
    </div>
</body>

</html>