<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	href="/bootstrap-3.3.7/css/bootstrap.css">
<title>Konferencija</title>
</head>

<body>
	<div class="container">
		<header>
			<img th:src="@{/images/logo1.png}" alt="Logo"
				class="col-md-offset-3 col-sm-offset-3">
			<h3>
				Čestitamo, vaše predavanje je prihvaćeno. Ovo je
				<span th:text="${session.listaPredavanja.size()}">broj predavanja</span>. predavanje
                koje ste predložili. 
			</h3>
			<a class="btn btn-default" th:href="@{/predavanja/resetBrojac}">Resetiraj brojač</a>
		</header>
		<br>
		<table class="table">
			<tr>
				<td>Predavač</td>
				<td><span th:text="${predavanje.predavac.ime}">PREDAVAC.IME</span>
				</td>
			</tr>
			<tr>
				<td>Pozicija u firmi</td>
				<td><span th:text="${predavanje.predavac.pozicija}">PREDAVAC.POZICIJA</span>
				</td>
			</tr>
			<tr>
				<td>Tema</td>
				<td><span th:text="${predavanje.tema}">PREDAVANJE.TEMA</span></td>
			</tr>
			<tr>
				<td>Kratki sadržaj</td>
				<td><span th:text="${predavanje.sadrzaj}">PREDAVANJE.SADRZAJ</span>
				</td>
			</tr>
			<tr>
				<td>Vrsta predavanja</td>
				<td><span th:text="${predavanje.vrsta}">PREDAVANJE.VRSTA</span>
				</td>
			</tr>
		</table>
		<br> <a class="btn btn-default" th:href="@{/predavanja/novo}">Povratak</a>

		<br> <a class="btn btn-default" th:href="@{/predavanja/prikaziPredavanja}">Prikaži sva predavanja</a>
	</div>
</body>

</html>