<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header.html :: headerFiles"></head>

<body>
	<div class="container">
		<header th:replace="fragments/header.html :: header"></header>
		<h3>
			<span th:text="#{msg.lectureSubmitted.part1}">Čestitamo, vaše predavanje je prihvaćeno. Ovo je </span>
			<span th:text="${session.listaPredavanja.size()}">broj predavanja</span><span th:text="#{msg.lectureSubmitted.part2}">. predavanje koje ste predložili.</span>
		</h3>
		<br>
		<a class="btn btn-default" th:href="@{/predavanja/resetBrojac}" th:text="#{msg.resetCounterButton}">Resetiraj brojač</a>
			
		<div sec:authorize="hasRole('ROLE_ADMIN')" >
			<div th:unless="${predavanje.objavljeno}" >
				<h5 th:text="#{msg.lectureSubmitted.notVisible}">Predavanje nije objavljeno u programu konferencije.</h5>
			</div>
			<div th:if="${predavanje.objavljeno}" >
				<h5 th:text="#{msg.lectureSubmitted.visible}">Predavanje je objavljeno i vidljivo u programu konferencije.</h5>
			</div>
		</div>
		<br>
		<table class="table">
			<tr>
				<td th:text="#{msg.table.lecturer}">Predavač</td>
				<td><span th:text="${predavanje.predavac.ime}">PREDAVAC.IME</span>
				</td>
			</tr>
			<tr>
				<td th:text="#{msg.table.position}">Pozicija u firmi</td>
				<td><span th:text="#{'enum.pozicija.'+${{predavanje.predavac.pozicija}}}">PREDAVAC.POZICIJA</span>
				</td>
			</tr>
			<tr>
				<td th:text="#{msg.table.subject}">Tema</td>
				<td><span th:text="${predavanje.tema}">PREDAVANJE.TEMA</span></td>
			</tr>
			<tr>
				<td th:text="#{msg.table.abstract}">Kratki sadržaj</td>
				<td><span th:text="${predavanje.sadrzaj}">PREDAVANJE.SADRZAJ</span>
				</td>
			</tr>
			<tr>
				<td th:text="#{msg.table.type}">Vrsta predavanja</td>
				<td><span th:text="#{'enum.vrsta.'+${{predavanje.vrsta}}}">PREDAVANJE.VRSTA</span>
				</td>
			</tr>
		</table>
		<br> <a class="btn btn-default" th:href="@{/predavanja/novo}" th:text="#{msg.backButton}">Povratak</a>
	</div>
</body>

</html>