<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header.html :: headerFiles"></head>

<body>
	<div class="container">
		<header th:replace="fragments/header.html :: header"></header>
		<h3 th:text="#{msg.search.title}">
			Pretraga predavanja
		</h3>
			
		<br><br>
		
		<form method="post" th:object="${predavanje}">
			<input type="text" class="form-control" th:field="*{tema}" th:placeholder="#{msg.search.searchFieldPlaceholder}">
			<input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
			<br>
			<input type="submit" class="btn btn-primary" th:value="#{msg.search.searchButton}">
		</form>
		<br>
		<table class="table table-striped" th:if="${predavanje.getTema() != null}">
			<tr>
				<th th:text="#{msg.table.lecturer}">Predavač</th>
				<th th:text="#{msg.table.position}">Pozicija u firmi</th>
				<th th:text="#{msg.table.subject}">Tema</th>
				<th th:text="#{msg.table.abstract}">Kratki sadržaj</th>
				<th th:text="#{msg.table.type}">Vrsta predavanja</th>
			</tr>
			<tr th:each="predavanje : ${popisPredavanja}">
				<td>
					<span th:text="${predavanje.predavac.ime}">PREDAVAC.IME</span>
				</td>
				<td>
					<span th:text="#{'enum.pozicija.'+${{predavanje.predavac.pozicija}}}">PREDAVAC.POZICIJA</span>
				</td>
				<td>
					<span th:text="${predavanje.tema}">TEMA</span>
				</td>
				<td>
					<span th:text="${predavanje.sadrzaj}">SADRZAJ</span>
				</td>
				<td>
					<span th:text="#{'enum.vrsta.'+${{predavanje.vrsta}}}">VRSTA</span>
				</td>
			</tr>
		</table>
		<br>
		<a class="btn btn-default" th:href="@{/predavanja/novo}" th:text="#{msg.backButton}">Povratak</a>
		<br><br>
	</div>
</body>

</html>